<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Poshan</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
    <link rel="stylesheet" href="../static/css/style.css">
  
</head>
<body>


  <header>

    <a href="#" class="logo" ><img src="../static/image/logo3.png" class="logo3"> <p2>Smart</p2><p1>  Poshan</p1></a>
    <nav class="navbar">
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#contact us">Contact us</a></li>
        </ul>
    </nav>
    <div id="login" class="fas fa-user-circle"></div>
    <div id="admin" class="fas fas fa-user-cog"></div>
    <!-- <div id="signup" class="fas fas fa-user-circle"></div> -->
    <!-- <div id="adsignup" class="fas fas fa-user-cog"></div> -->
  </header>
  
  <div class="login-form">
  
    <form name="login_form">
        <h3>Login Form</h3>
        <label for="name">Email</label>
        <input type="email" placeholder="username" name="email" class="field" required>
        <label for="name">Password</label>
        <input type="password" placeholder="password" name="password" class="field" required>
        <p class="error error--hidden"></p>
        <input type="submit" value="Login in" class="btn">
        <i class="fas fa-times"></i>
    </form>
  </div>

  <div class="admin-login-form">
  
    <form name="admin_login_form">
        <h3>Admin Form</h3>
        <label for="name">Email</label>
        <input type="email" placeholder="username" name="email" class="field" required>
        <label for="name">Password</label>
        <input type="password" placeholder="password" name="password" class="field" required>
        <p class="error error--hidden"></p>
        <input type="submit" value="Login in" class="btn">
        <i class="fas fa-times"></i>
    </form>
  </div>

  <!-- <div class="signup-form">

    <form name="signup_form">
      <h3 class="center">Create an Account</h3>
      <label for="name">Name</label>
      <input type="text" name="name" class="field" required>
      <label for="username">Username</label>
      <input type="text" name="username" class="field" required>
      <label for="name">Email</label>
      <input type="email" name="email" class="field" required>
      <label for="name">Password</label>
      <input type="password" name="password" class="field" required>
      <p class="error error--hidden"></p>
      <input type="submit" value="Sign Up" class="btn">
      <i class="fas fa-times"></i>
    </form>
  </div> -->
  
  <!-- <div class="adsignup-form">

    <form name="adsignup_form">
      <h3 class="center">Create an Account</h3>
      <label for="name">Name</label>
      <input type="text" name="name" class="field" required>
      <label for="username">Username</label>
      <input type="text" name="username" class="field" required>
      <label for="name">Email</label>
      <input type="email" name="email" class="field" required>
      <label for="name">Password</label>
      <input type="password" name="password" class="field" required>
      <p class="error error--hidden"></p>
      <input type="submit" value="Sign Up" class="btn">
      <i class="fas fa-times"></i>
    </form>
  </div> -->
  
  <section class="home" id="home">
  
  </section>
  
  <section class="about" id="about">
  
  <div class="image">
    <img src="../static/image/about.jpg" alt="">
  </div>
  
  <div class="content">
    <h3>  
        <p>The Mid Day Meal Scheme is a school meal programme in India designed to better the nutritional standing of school-age children nationwide. The scheme has been renamed as POSHAN Scheme. The programme supplies free lunches on working days for children in government primary and upper primary schools, government aided Anganwadis, Madarsa and Maqtabs.Serving 120 million children in over 1.27 million schools and Education Guarantee Scheme centres, the Midday Meal Scheme is the largest of its kind in the world</p>
    </h3>
    <a href="#"><button class="btn">Learn More</button></a>
  </div>
  </section>
  
  <section class="contact us" id="contact us">
  
  <h1 class="heading">Contact Us</h1>
  
  <div class="row">
  
    <form action="">
        <input type="text" placeholder="full name" class="box">
        <input type="email" placeholder="your email" class="box">
        <input type="number" placeholder="your number" class="box">
        <input type="text" placeholder="your subject" class="box">
        <textarea name="" id="" cols="30" rows="10" class="box address" placeholder="your reason"></textarea>
        <input type="submit" class="btn" value="send now">
    </form>
  
  </div>
  </section>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>  
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/js.js"></script>
</body>
</html>

